body {
  margin: 0;
  padding: 0;
}

.navBar {
  background: rgba(9, 9, 9, 0.78);
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  z-index: 1;
  }

  .nav--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  } 
  .nav--brand {
    display: flex;
    align-items: center;
  } 

.nav--image {
  
  width: 40px;
  height: 40px;
  margin-right: 4px;
}

.nav--options {
  display: flex;
}

.nav--option {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
  outline: none;
}

.nav--option:hover {
  text-decoration: underline;
}
   
.nav--title {
    color: white;
    margin: 0;
    justify-content: space-between;
    align-self: center;
    margin-right: 100px;
    font-size: xx-large;
  }

.nav--search{
    margin-left: auto;
    
   
}
  
 .search--input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 6ch;
  }

 
 