
.navBar {
  display: flex;
  align-self: flex-start;
  justify-self: start; 
  background: rgba(9, 9, 9, 0.78);
  width: 100%;
  height: 60px;
  color: white;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
}

.nav--container {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 20px;
  margin-left: 0px;
  box-sizing: border-box;
}

.nav--brand {
  display: flex;
  align-items: center;
}

.nav--image {
  width: 40px;
  height: 40px;
  margin-right: 4px;
}

.nav--options {
  display: flex;
}

.nav--option {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
  outline: none;
}

.nav--title {
  color: white;
  margin: 0;
  justify-content: space-between;
  align-self: center;
  margin-right: 100px;
  font-size: x-large;
}

.nav--search {
  margin-left: 250px;

}

.search--input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 6ch;
}
.nav--actions {
  display: flex;
  align-self: center;
  margin-left: 70px;
}